* {
  margin: 0;
}

.app{
  background-color: #fafafa;
}
.app__headerImage {
  object-fit: contain;
  padding: 10px;
}

.app__header{
background-color: white;
object-fit: contain;
border-bottom: 1px solid lightgrey;
display: flex;
justify-content: space-between;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__posts{
  padding: 20px;
}